{% extends 'home.html' %}

{% block content%}
<div class="modal" id="signup-modal">
    <form action="." role="form" method="POST">
        {% csrf_token %}
        <h2>SignUp</h2>
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        
        <input type="password" name="password" placeholder="password">
        <input type="password" name="password2" placeholder="confirm password">
        <input type="submit" value="register" name="signup-form">
    </form>
</div>
{% endblock content%}